<div class="container-fluid">
  <h1 class="display-6">Livros</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Ano</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <th scope="row">{{livro.id}}</th>
        <td>{{livro.titulo || 'Livro sem título'}}</td>
        <td>{{livro.ano}}</td>
        <td>
          <a class="btn btn-primary" routerLink="/livros/atualizar/{{livro.id}}">Editar</a>
          <app-button class="ms-2" color="danger" title="Deletar"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
